<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Verboseconcept" verbose="4">
  <test thread-count="5" name="verbosetestexample">
    <classes>
      <class name="verboseconcept.Verboseexample"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
